body, html {
  overflow-x: hidden;
  width: 100%;
  font-family: 'Roboto Slab', serif;
}
body{
  margin: 0px;
  padding: 0px;
  color: lightgray;
}
body::-webkit-scrollbar {
  display: none;
}
#web{
  width: 50%;
  margin: 0 auto;
}
#top{
  width: 100%;
  height: 100vh;
}
#topImg{
  width: 100%;
  height: 100vh;
  background-image: url("../img/topBackground.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(40%);
  position: absolute;
  top:0px;
  left: 0px;
  z-index: -2;
  background-attachment: fixed;
}
.sticky {
  top: 0;
  position: fixed;
}
.menu{
  margin: 0;
  padding: 0;
  height: 75px;
  width: 100%;
  background-color: #3D9970;
  z-index: 5;
  border-bottom: 1px solid black;
}
.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
  margin: 0 auto;
}
.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}
.chevron:before, .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #f1f0eb;
}
.chevron:before {
  left: 0;
  transform: skewY(30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-chevron {
  25% {
      opacity: 1;
 }
  33.3% {
      opacity: 1;
      transform: translateY(2.28rem);
 }
  66.6% {
      opacity: 1;
      transform: translateY(3.12rem);
 }
  100% {
      opacity: 0;
      transform: translateY(4.8rem) scale(0.5);
 }
}
#scrollDown{
  bottom: 0px;
  right: 0px;
  position: absolute;
  filter: opacity(60%);
  height: 4.8rem;
  width: 2.1rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
#topTextRow{
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  margin: 0px !important;
}
.divider{
  border-bottom: rgba(255, 255, 255, 0.95) solid 1px;
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 34pt;
  font-weight: 450;
}
#topNav{
  height: 8vh;
  background-color: aquamarine;
}
#fish{
  z-index: 0;
  position: absolute;
}
#fishEye{
  position: relative;
  width: 10px;
  height: 10px;
  bottom: 90px;
  left: 40px;
}
#fishPic{
  height: 150px;
  width: 150px;
}
#skills b{
  color: #6941e1;
}
.profileHeader{
  color: black;
}
.sectionHeader{
  font-size: 35pt;
  display:block;
  text-align:center;
}
.subHeader{
  text-align:center;
  display:block;
  border-bottom: black solid 1px;
  padding-bottom: 1rem;
  margin: 5px;
  margin-bottom: 20px;
}
.subSubHeader{
  font-size: 17pt;
  display: block;
  text-align: center;
}
#profilePic{
  margin: 0 auto;
  display: block;
}
.red{
  background-color: crimson;
}
.green{
  background-color: chartreuse;
}
.blue{
  background-color: cadetblue;
}
.row{
  padding-top: 10px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.sectionTitle{
  font-size: 25pt;
  display: block;
  text-align: center;
}
.margin-top-5{
  margin-top: 5px;
  display: inline-block;
}
.menuItem{
  text-align: center;
  display: inline-block;
  font-size: 20pt;
  color: white;
  padding-top: 2px;
}
#profile{
  padding-top: 70px;
}
#profile b{
  color: royalblue;
}
.menuItem:hover{
  color: rgba(180, 180, 180, 1);
  text-decoration: none;
}
.myContainer{

  padding: 0 10vw 0 10vw;
  background-color: royalblue;
}
.noMargin{
  margin: 0px !important;
}

.z2{
  z-index: 2;
}
#wavesTransition{
  width: 100%;
  height: 100px;
  background-image: url("../img/white_blue_transition.png");
  background-position: center;
  z-index: 0;
}
#skills{
  padding-top: 75px;
  width: 100%;
  color: black;
}
#paintDripping{
  width: 100%;
  height: 175px;
  background-image: url("../img/paint_transition.png");
  background-position: center;
  z-index: 0;
}
.centerText{
  text-align:center;
}
.skillCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-bottom: 2vh;
}
.skillCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translate(0px, -15px);
}
.skillCardRating{
  width: 100%;
  text-align:center;
  background-color: #f8f8ff;
}
.stars{
  color: gold;
}
.skillImg{
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(105, 65, 225, 0.85);
}

#javaImage{
  background-image: url("../img/java_logo.png");
  background-color: rgba(131, 91, 251, 0.85);
  background-size: 280px 210px !important;
}
#jsImage{
  background-image: url("../img/js_logo.png");
  background-size: 140px 140px !important;
}
#sqlImage{
  background-image: url("../img/sql_logo.png");
  background-color: rgba(131, 91, 251, 0.85);
}
#htmlImage{
  background-image: url("../img/html_logo.png");
  background-size: 140px 140px !important;
}
#cssImage{
  background-image: url("../img/css_logo.png");
  background-size: 100px 140px !important;
}
#bootstrapImage{
  background-image: url("../img/bootstrap_logo.png");
  background-color: rgba(156, 116, 255, 0.85);
  background-size: 201px 140px !important;
}
#reactImage{
  background-image: url("../img/react_logo.png");
  background-size: 170px 140px !important;
  background-color: rgba(131, 91, 251, 0.85);
}
#firebaseImage{
  background-image: url("../img/firebase_logo.png");
  background-color: rgba(156, 116, 255, 0.85);
  background-size: 203px 70px !important;
}
#cImage{
  background-image: url("../img/c_logo.png");
  background-color: rgba(156, 116, 255, 0.85);
  background-size: 140px 140px !important;
}
#orangeFlame{
  width: 100%;
  height: 150px;
  background-image: url("../img/orange_transition.png");
  background-position: center;
  z-index: 0;
}
#experiences{
  background-color: #e16941;
  color: #DCDCDC;
  padding-top: 75px;
}
.experienceSection{
  font-weight: bold;
  color: #9c3a19;
  font-size: 26pt;
}
.experienceLocation{
  font-weight: bold;
  font-size: 16pt;
}
#projects{
  padding-top: 75px;
}
.experienceDate{
  display: block;
  font-size: 14pt;
}
.experienceDesc{
  font-weight: bold;
  font-size: 16pt;
  color: #434242;
}
.experienceText{
  display: block;
  padding-top: 10px;
  color: #EEEEEE;
  text-shadow: #FF851B 0.5px 0.5px;
}
.ratings{
  display: inline-block;
  margin: 15px;
}
#contact_pic{
  height: 30vh;
  width: 30vw;
  background-image: url("../img/2colorme2.png");
  background-position: center;
  z-index: 10;
}
#orange_cloud{
  width: 100%;
  height: 100px;
  background-image: url("../img/orange_cloud.png");
  background-position: center;
  z-index: 0;
}
.contact_button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  border: 2px solid hsla(210, 100%, 75%, 1.0);
  padding: 5px;
  border-radius: 5px;
  background-color: none;
  margin-top: 5px;
}

.button_logos{
  height: 100px;
  width: 100px;
}
.contact_button_texts{
  color:hsla(210, 100%, 75%, 1.0);
  font-size: 16pt;
}
a {
  text-decoration: none !important;
}
#contact_buttons{
  margin: 0 auto;
  padding: 15px;
  display: inline-block;
}
.ratingType{
  color: #6941e1;
  text-align: center;
  font-weight: bold;
}
.ratingType .stars{
  font-size: 12pt !important;
}

.projectTags{
  text-align: center;
  width: 100%;
  z-index: 3;
  color: white;
  margin-top: 20px;
}
.tag{
  padding: 8px 14px;
  transition: 0.4s;
  border-radius: 1%;
  margin: 10px 5px;
  filter: opacity(95%);
  background-color: #3D9970;
  display: inline-block;
}
.tag:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #307a59;
}
.projectText{
  height: 100%;
  width: 100%;
  color: white;
  display: none;
  position: absolute;
  left: 0px;
  top: 20%;
  z-index: 2;
  text-align: center;
  padding: 30px;
}
.linkIcon{
  height: 60px;
  width: 60px;
  background-color: #3D9970;
  border-radius: 50%;
  padding: 15px;
  transition: 0.4s;
}
.linkIcon:hover{
  background-color: #307a59;
}
.projectLinks{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 50px;
  text-align: right;
  z-index: 3;
  display: none;
}
#contactSpotLight{
  text-align: center;
  font-size:24pt;
  color: hsla(210, 100%, 75%, 1.0);
  height: 60px;
}

.contact_button:hover{
  transition: 0.5s;
  background-color: #00152b;
}
#contactme{
  background-image: url("../img/night_stars.png");
  background-repeat: repeat;
}
#smallNav{
  display: none;
  z-index: 6;
}
#smallNav button{
  background-color:rgba(0, 0, 0, 0.2) ;
  margin-top: 5px;
  display: block;
}
.smallLinks{
  display:block;
  color: white;
  font-size: 20pt;
}
.smallLinks:hover{
  color: rgba(180, 180, 180, 1);
  text-decoration: none;
}
